################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/banco-inter-sdk/.vs
/banco-inter-sdk/bin
/banco-inter-sdk/obj

/.vs
/.vs/
